.notes-app{
    .empty-notes{
        width: 100%;
        height: calc(100vh - 100px);
        display: grid;
        place-content: center;
        .create-note-btn{
            // background-color: gray;
            text-transform: capitalize;
        }
    }
    .notes-list-container{
        padding: 16px;
        .notes-list{
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            // justify-content: space-between;
            .singleNote{
                width: 240px;
                // border-radius: 16px;
                padding: 16px;
                cursor: pointer;
                .card{
                    gap: 8px;
                }
            }
        }
    }
    .createNoteButton{
        padding: 16px;
        .createNote{
            margin-top: 4px;
            width: 240px;
            height: 140px;
            border-radius: 8px;
            border: 1px dashed #1976d2;
            cursor: pointer;
            display: grid;
            place-content: center;
            svg{
                font-size: 40px;
            }
        }
    }

}
.editModal{
    .editNoteModal{
        // background-color: red !important;
    }
}